body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif !important;
}
Link {
  text-decoration: none;
}
.site-container {
  min-height: 100vh;
  /* margin-top: -3rem; */
  overflow: hidden;
}
main {
  flex: 1;
  /* margin-top: 170px; */
  z-index: -1;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;

  /* opacity: 0.85; */
}
li {
  list-style: none;
}

:root {
  --freewater-blue: #6bc7ed;
}

.navbar-custom {
  background-color: #fff !important;
  color: #000 !important;
  position: relative;
}

.navbar-logo {
  display: block;
  max-width: 180px;
}

.brand-custom {
  /* height: 100px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom:  .7rem;
  z-index: 100;
  background-color: #fff;

}
.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 95%;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #dfdfdf;
}

.offer {
  background-color: var(--freewater-blue);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.offer h3 {
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  /* padding: 15px; */
}
.search-form {
  width: 240px;
}
.cart-trash {
  color: #dc3444;
  width: 17px;
  height: 17px;
}

.trash-button {
  background-color: #fff;
  border: none;
}
.home-title {
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 1rem;
  border-radius: 5px;
}
.product-card {
  border: 0.6px solid #dfdfdf !important;
}
.navbar-cart {
  color: #000;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  /* margin-top: 2rem; */
}
.product img {
  width: 100%;
  max-width: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-link {
  text-decoration: none;
}

.product-h2 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000;
}

.card-img-top {
  height: 300px !important;
}
.product-info {
  padding: 1rem;
}

.product-button {
  background-color: #000 !important;
  border: none;
  transition: all 200ms ease-in-out;
}

.product-button:hover {
  opacity: 0.85;
}
.rating span {
  color: #ffcc00;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
  width: 90px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
  /* text-align: center; */
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--freewater-blue);
  color: var(--freewater-blue);
}

.product-price {
  font-size: 21px;
  font-weight: 500;
}
.power-span {
  vertical-align: super;
  font-size: 50%;
}

.delivery-date {
  font-size: 0.8rem;
  opacity: 0.85;
  font-weight: 300;
}

.delivery-date-span {
  font-weight: 500;
  opacity: 1;
}

.site-container {
  transition: 400ms;
}
.active-cont {
  z-index: -1;
}
.active-nav {
  right: 0;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  right: -300px;
  background-color: var(--freewater-blue);
  transition: 400ms;
}

.user-icon {
  color: #000;
  width: 25px;
  height: 25px;
}

.text-bold {
  font-weight: 700;
}

.custom-navbar-item {
  margin-right: 1em !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  height: 70px;
  margin-top: 3rem;
}
.footer h3 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 1.2px;

}
.footer h3 span {
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .header::before {
    width: 95%;
  }
}

.search-custom {
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
  min-width: 132px !important;
  padding: 0;
}

.search-button-custom {
  background-color: #fff !important;
  border: none !important;
}
.fa-search {
  color: #000 !important;
}
